###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.yml text eol=lf
