.zsiq_floatmain.siq_bR {
  bottom: 56px;
  right: 40px;
}

.zsiq_floatmain.siq_bR.up
{
  bottom: 116px;
  transition: all 1s ease-in 0s;
}

.zsiq_floatmain.siq_bR div.zsiq_cnt {
  height: 70px;
  background: #fff;
  padding: 14px 18px;
  border-radius: 5px;
  bottom: 85px;
  left: auto;
  top: auto;
  right: 0;
  box-shadow: -1px 8px 25px -1px rgba(0,0,0,.25);
  font-family: hand-of-sean;
  font-size: 18px;
  white-space: pre-wrap;
  letter-spacing: 1px;
  font-weight: normal;
  z-index: 1;
  display: block;
}
.zsiq_floatmain.siq_bR div.zsiq_cnt:hover {
  box-shadow: -1px 8px 25px -1px rgba(0,0,0,.35);
}
.zsiq_floatmain.siq_bR .zsiq_cnt:after
{
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  height: 14px;
  right: 23px;
  bottom: -68px;
  z-index: -1;
  box-shadow: none;
}

.zsiq_floatmain.siq_bR .zsiq_cnt .zsiq_ellips {
  white-space: pre-wrap;
  color: #525845;
}

.zsiq_floatmain.siq_bR .zsiq_cnt #zsiq_byline {
  display: none;
}
