.iti {
  position: relative;
  display: inline-block;
  width: 100%;
}

.iti .iti__country-list {
  font-family: proxima-nova, Helvetica;
  font-size: 14px;
  width: 424px;
}

.captcha-legal-message {
  font-size: 12px;
  line-height: 16px;
  font-family: proxima-nova, Helvetica;
}

.captcha-legal-message a {
  color: inherit;
}
