.intl-tel-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.intl-tel-input .country-list {
  font-family: proxima-nova, Helvetica;
  font-size: 14px;
  width: 414px;
}

.captcha-legal-message {
  font-size: 12px;
  line-height: 16px;
  font-family: proxima-nova, Helvetica;
}
